In [2]:
import matplotlib.pyplot as plt
import pandas as pd
import numpy as np
import requests
import gmaps
import os

# Import API key
from config import gkey

In [3]:
gkey

'AIzaSyBHgZv5iqCzKonQOnWwsbvJmWs87HJAMBo'

In [9]:
vacay = pd.read_csv('../output_data/cities_clean.csv')

In [10]:
vacay

,City Name,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Country,Date
0,shrewsbury,52.7101,-2.7521,280.15,87.0,75.0,3.60,GB,1.619569e+09
1,sangar,63.9242,127.4739,265.12,83.0,47.0,3.82,RU,1.619569e+09
2,vaini,-21.2000,-175.2000,297.15,83.0,75.0,7.72,TO,1.619569e+09
3,bredasdorp,-34.5322,20.0403,283.15,93.0,99.0,0.51,ZA,1.619569e+09
4,chifeng,42.2683,118.9636,283.33,20.0,0.0,9.71,CN,1.619569e+09
...,...,...,...,...,...,...,...,...,...
574,chimbote,-9.0853,-78.5783,291.86,90.0,76.0,3.11,PE,1.619569e+09
575,dahegam,23.1667,72.8167,303.15,30.0,40.0,1.54,IN,1.619569e+09
576,issenye,-2.0000,34.3333,289.22,95.0,34.0,1.48,TZ,1.619569e+09
577,igarka,67.4667,86.5833,273.55,86.0,100.0,6.40,RU,1.619569e+09
578,filadelfia,39.9523,-75.1638,295.37,46.0,75.0,2.06,US,1.619569e+09

In [12]:
vacay.dtypes

City Name      object
Lat           float64
Lng           float64
Max Temp      float64
Humidity      float64
Cloudiness    float64
Wind Speed    float64
Country        object
Date          float64
dtype: object

In [11]:
gmaps.configure(api_key=gkey)

In [17]:
#create gmap variables for latitudes and longitudes
coord = vacay[['Lat','Lng']]
#create gmap variables for humidity
humid = vacay["Humidity"]

#check to see what each one looks like; data types and such 
coord

humid

0      87.0
1      83.0
2      83.0
3      93.0
4      20.0
       ...
574    90.0
575    30.0
576    95.0
577    86.0
578    46.0
Name: Humidity, Length: 579, dtype: float64

In [18]:
humidity = gmaps.figure()

In [19]:
humid_heat = gmaps.heatmap_layer(coord, weights=humid)

humidity.add_layer(humid_heat)

In [20]:
humidity

Figure(layout=FigureLayout(height='420px'))

In [51]:
humid_heat.max_intensity = 150

In [53]:
humid_heat.point_radius = 6

In [60]:
vacay[['Wind Speed', 'Max Temp', 'Cloudiness',
                 'Humidity']] = vacay[['Wind Speed', 'Max Temp', 'Cloudiness',
                 'Humidity']].apply(pd.to_numeric)

In [61]:
vacay.dtypes

City Name      object
Lat           float64
Lng           float64
Max Temp      float64
Humidity      float64
Cloudiness    float64
Wind Speed    float64
Country        object
Date          float64
dtype: object

In [ ]:
# vacation spot specs : windspeed = 4 , maxtemp <=311 , cloudiness <=11,  humidity <= 35
# note : temperatures recorded in Kelvin

In [74]:
#applied .loc using preferred specifications

vacay_hotel = vacay.loc[(vacay['Wind Speed']<=4.0)& (vacay['Max Temp']<=311.0) & (vacay['Cloudiness']<=11.0) & (vacay['Humidity']<=35.0)]

In [75]:
vacay_hotel

,City Name,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Country,Date
60,kutum,14.2000,24.6667,295.63,15.0,11.0,2.50,SD,1.619569e+09
114,bethel,41.3712,-73.4140,289.15,29.0,1.0,2.06,US,1.619569e+09
140,sakakah,29.9697,40.2064,291.15,25.0,0.0,1.54,SA,1.619569e+09
242,shache,38.4167,77.2406,287.76,20.0,0.0,0.31,CN,1.619569e+09
419,gallatin,45.6666,-111.2008,288.71,26.0,1.0,1.54,US,1.619569e+09
467,esna,25.2934,32.5540,295.15,24.0,0.0,1.03,EG,1.619569e+09
501,hit,33.6416,42.8251,296.33,29.0,0.0,2.44,IQ,1.619569e+09
512,ushtobe,45.2514,77.9838,287.44,32.0,3.0,1.92,KZ,1.619569e+09
536,guna,24.6500,77.3167,299.62,18.0,0.0,2.45,IN,1.619569e+09
547,yangcun,39.3639,117.0603,291.15,20.0,0.0,4.00,CN,1.619569e+09
555,ratholo,-22.7245,27.5720,291.04,22.0,0.0,0.49,BW,1.619569e+09
566,dhamtari,20.7072,81.5497,297.68,19.0,1.0,1.61,IN,1.619569e+09

In [76]:
#small dataset for api usage 
len(vacay_hotel)

12

In [82]:
hotel_df = vacay_hotel

,City Name,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Country,Date,Hotel Names
60,kutum,14.2000,24.6667,295.63,15.0,11.0,2.50,SD,1.619569e+09,
114,bethel,41.3712,-73.4140,289.15,29.0,1.0,2.06,US,1.619569e+09,
140,sakakah,29.9697,40.2064,291.15,25.0,0.0,1.54,SA,1.619569e+09,
242,shache,38.4167,77.2406,287.76,20.0,0.0,0.31,CN,1.619569e+09,
419,gallatin,45.6666,-111.2008,288.71,26.0,1.0,1.54,US,1.619569e+09,
467,esna,25.2934,32.5540,295.15,24.0,0.0,1.03,EG,1.619569e+09,
501,hit,33.6416,42.8251,296.33,29.0,0.0,2.44,IQ,1.619569e+09,
512,ushtobe,45.2514,77.9838,287.44,32.0,3.0,1.92,KZ,1.619569e+09,
536,guna,24.6500,77.3167,299.62,18.0,0.0,2.45,IN,1.619569e+09,
547,yangcun,39.3639,117.0603,291.15,20.0,0.0,4.00,CN,1.619569e+09,
555,ratholo,-22.7245,27.5720,291.04,22.0,0.0,0.49,BW,1.619569e+09,
566,dhamtari,20.7072,81.5497,297.68,19.0,1.0,1.61,IN,1.619569e+09,

In [83]:
hotel_df['Hotel Names'] = ""

C:\Users\Public\Downloads\Anaconda\envs\PythonData\lib\site-packages\ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

In [84]:
hotel_df

,City Name,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Country,Date,Hotel Names
60,kutum,14.2000,24.6667,295.63,15.0,11.0,2.50,SD,1.619569e+09,
114,bethel,41.3712,-73.4140,289.15,29.0,1.0,2.06,US,1.619569e+09,
140,sakakah,29.9697,40.2064,291.15,25.0,0.0,1.54,SA,1.619569e+09,
242,shache,38.4167,77.2406,287.76,20.0,0.0,0.31,CN,1.619569e+09,
419,gallatin,45.6666,-111.2008,288.71,26.0,1.0,1.54,US,1.619569e+09,
467,esna,25.2934,32.5540,295.15,24.0,0.0,1.03,EG,1.619569e+09,
501,hit,33.6416,42.8251,296.33,29.0,0.0,2.44,IQ,1.619569e+09,
512,ushtobe,45.2514,77.9838,287.44,32.0,3.0,1.92,KZ,1.619569e+09,
536,guna,24.6500,77.3167,299.62,18.0,0.0,2.45,IN,1.619569e+09,
547,yangcun,39.3639,117.0603,291.15,20.0,0.0,4.00,CN,1.619569e+09,
555,ratholo,-22.7245,27.5720,291.04,22.0,0.0,0.49,BW,1.619569e+09,
566,dhamtari,20.7072,81.5497,297.68,19.0,1.0,1.61,IN,1.619569e+09,

In [ ]:
#type : lodging

In [138]:
base_url = 'https://maps.googleapis.com/maps/api/place/findplacefromtext/json'
parmas = { 'key' : gkey, 
         'input' : 'lodging'}
coords = [['Lat', 'Lng']]
location ='radius@' + (coords)
params{'locationbias' : location }

hotel_df.loc[index, 'Hotel Names'] = hotelname['candidates'][0]['name']

SyntaxError: invalid syntax (<ipython-input-138-f0e733810810>, line 6)

In [206]:
base_url = 'https://maps.googleapis.com/maps/api/place/findplacefromtext/json?'
params = { 'key' : gkey, 
         'input' : 'lodging',
         'inputtype' : 'textquery',
         'fields': 'name'}

for index,rows in hotel_df.iterrows() : 
    lat = rows['Lat']
    lng = rows['Lng']
    location =f"circle:5000@{lat},{lng}"
    params['locationbias'] = location 
    
    hotelname = requests.get(base_url, params=params).json()
    ##try : 
    hotel_df.loc[index, 'Hotel Names'] = hotelname['candidates'][0]['name']
    
    #except : 
        #print('woops')

C:\Users\Public\Downloads\Anaconda\envs\PythonData\lib\site-packages\pandas\core\indexing.py:966: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self.obj[item] = s

In [207]:
hotel_df

,City Name,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Country,Date,Hotel Names
60,kutum,14.2000,24.6667,295.63,15.0,11.0,2.50,SD,1.619569e+09,Cannon Beach Hotel
114,bethel,41.3712,-73.4140,289.15,29.0,1.0,2.06,US,1.619569e+09,West Lane Inn
140,sakakah,29.9697,40.2064,291.15,25.0,0.0,1.54,SA,1.619569e+09,Alnuzl Special Hotel
242,shache,38.4167,77.2406,287.76,20.0,0.0,0.31,CN,1.619569e+09,Xinsheng Hotel
419,gallatin,45.6666,-111.2008,288.71,26.0,1.0,1.54,US,1.619569e+09,C'mon Inn
467,esna,25.2934,32.5540,295.15,24.0,0.0,1.03,EG,1.619569e+09,Orient Star Dahabyia Isna 05 Nights Each Sunday
501,hit,33.6416,42.8251,296.33,29.0,0.0,2.44,IQ,1.619569e+09,فندق المدينة السياحية في الحبانية
512,ushtobe,45.2514,77.9838,287.44,32.0,3.0,1.92,KZ,1.619569e+09,Park House
536,guna,24.6500,77.3167,299.62,18.0,0.0,2.45,IN,1.619569e+09,Hotel Sai Sagar
547,yangcun,39.3639,117.0603,291.15,20.0,0.0,4.00,CN,1.619569e+09,All-legend International Hotel - Tianjin
555,ratholo,-22.7245,27.5720,291.04,22.0,0.0,0.49,BW,1.619569e+09,GOO-MOREMI GORGE
566,dhamtari,20.7072,81.5497,297.68,19.0,1.0,1.61,IN,1.619569e+09,Bardiha Lake View Tourist Cottages Gangrel

In [194]:
for index,rows in hotel_df.iterrows() :
    a = rows['Lat']
    b=rows['Lng']
    print(a)

14.2
41.3712
29.9697
38.4167
45.6666
25.2934
33.6416
45.2514
24.65
39.3639
-22.7245
20.7072

In [197]:

base_url = 'https://maps.googleapis.com/maps/api/place/findplacefromtext/json'
params = { 'key' : gkey, 
         'input' : 'lodging',
         'inputtype' : 'textquery',
          'fields' : 'name',
         'locationbias' : "circle:5000@14.2000,24.6667"}

In [201]:
a=requests.get(base_url, params=params).json()
a['candidates'][0]['name']

'Budget Motel'

In [209]:


# Using the template add the hotel marks to the heatmap
info_box_template = """
<dl>
<dt>Name</dt><dd>{Hotel Names}</dd>
<dt>City</dt><dd>{City Name}</dd>
<dt>Country</dt><dd>{Country}</dd>
</dl>
"""
# Store the DataFrame Row
# NOTE: be sure to update with your DataFrame name
hotel_info = [info_box_template.format(**row) for index, row in hotel_df.iterrows()]
locations = hotel_df[["Lat", "Lng"]]

In [215]:
markers=gmaps.marker_layer(locations, hotel_info)

In [216]:
humidity.add_layer(markers)

In [217]:
humidity

Figure(layout=FigureLayout(height='420px'))